/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2017, 11:28:25 PM
    Author     : cigist
*/


/*.table-fixed thead {
    width: 97%;
}
.table-fixed tbody {
    height: auto;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
}*/

.my-group .form-control{
    width:50%;
}